@CHARSET "UTF-8";     
  
.mouseOver{  
    background: #708090;  
    color:#fffafa;  
}  
.mouseOut{  
    background: #fffafa;  
    color:#000000;  
} 
 .mask {       
     position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;     
     z-index: 1002; left: 0px;     
     opacity:0.5; -moz-opacity:0.5;     
} 
#overlay{
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity:1;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
} 
   